<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Personal Book Libray Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <form class="d-flex">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Some Useful links
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="https://openlibrary.org/">Open Library</a></li>
              <li><a class="dropdown-item" href="https://bookboon.com/">bookboon</a></li>
              <li><a class="dropdown-item" href="https://www.rokomari.com/book">Rokomari</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <div class="col-lg-3">
      <a th:href="@{/login/home/addongoing}" class="btn btn-primary btn-sm mb-3">Add Ongoing Books</a>
    </div>
    <div>
      <h1 class="bg-light text-center">Books Ongoing</h1>
    </div>

    <table class="table table-striped table-hover table-bordered">
      <thead class="table-light">
        <tr>
          <th>Book Name</th>
          <th>Author Name</th>
          <th>Book Summary</th>
          <th>Operations</th>
        </tr>
      <tbody>
        <tr th:each="Book : ${book}">
          <td th:text="${Book.bookname}"></td>
          <td th:text="${Book.authname}"></td>
          <td th:text="${Book.booksummary}"></td>
          <td>
          <a th:href="@{/login/home/wishlist1/{sl}(sl=${Book.sl})}" class="btn btn-success">Move to Wishlist</a>
            <a th:href="@{/login/home/{sl}(sl=${Book.sl})}" class="btn btn-success">Done Reading</a>
            <a th:href="@{/login/home/{sl}(sl=${Book.sl})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </tbody>
      </thead>
    </table>
    <div class="row">
      <div class="cols-lg-3">
        <p>Check Wishlist here</p>
        <a th:href="@{/login/home/wishlist}" class="btn btn-primary btn-sm mb-3">Wishlist</a>
      </div>
      <div class="col-lg-3">
        <p>Check Done Reading here</p>
        <a th:href="@{/login/home/donereading}" class="btn btn-primary btn-sm mb-3">Done Reading</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and Popper.js (required for dropdowns) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>